<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Profil de <span sec:authentication="name"></span> - PVPChampions</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link th:href="@{/css/light-bootstrap-dashboard.css?v=1.4.0}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link th:href="@{/css/demo.css}" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a th:href="@{/}" class="simple-text">
                    <img th:src="@{/img/logo.png}" alt="Logo" width="100%">
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a th:href="@{/}">
                        <i class="pe-7s-home"></i>
                        <p>Accueil</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/ajouter}">
                        <i class="pe-7s-plus"></i>
                        <p>Créer un évènement</p>
                    </a>
                </li>
            	<li>
                    <a th:href="@{/sulfuron}">
                        <i class="pe-7s-hammer"></i>
                        <p>Sulfuron</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/auberdine}">
                        <i class="pe-7s-shield"></i>
                        <p>Auberdine</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-bell"></i>
                        <p>Options</p>
                    </a>
                </li>
				<li class="active-pro">
                    <a href="#">
                        <i class="pe-7s-rocket"></i>
                        <p>Soutenir le projet</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">Accueil</a>
                    <a class="navbar-brand" th:href="@{/profil}">Profil de <span sec:authentication="name"></span></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
									<p class="hidden-lg hidden-md">
										5 Notifications
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                   <div sec:authorize="!isAuthenticated()">
                    	<ul class="nav navbar-nav navbar-right">
                        	<li>
                           		<a th:href="@{/inscription}">
                               		<p>Inscription</p>
                            	</a>
                        	</li>
                        
                        	<li>
                            	<a href="login">
                                	<p>Se connecter</p>
                            	</a>
                        	</li>
							<li class="separator hidden-lg"></li>
                    	</ul>
                    </div>
                    
                    <div sec:authorize="isAuthenticated()">
                    	<ul class="nav navbar-nav navbar-right">
                        	<li>
                           		<a th:href="@{/profil}">
                               		<p><span sec:authentication="name"></span></p>
                            	</a>
                        	</li>
                        
                        	<li>
                            	<a href="/logout">
                                	<p>Déconnexion</p>
                            	</a>
                        	</li>
							<li class="separator hidden-lg"></li>
                    	</ul>
                    </div>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Modifier mon profil</h4>
                            </div>
                            <div class="content">
                                <form th:action="@{/inscription}" th:object="${cuser}" method="post">
                                	<input type="hidden" th:field="*{id}" />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="username">Nom d'utilisateur</label>
                                                <input type="text" class="form-control" placeholder="Votre nom d'utilisateur.." id="username" name="username" th:value="${cuser.username}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="password">Mot de passe</label>
                                                <input type="password" class="form-control" placeholder="Votre mot de passe.." id="password" name="password" th:field="*{password}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                        	<select class="selectpicker" multiple data-style="btn-info">
										  		<option></option>
											</select>
										</div>                                      
                                    </div>

                                    <div class="row">
                                    	<div class="col-md-4">
                                            <div class="form-group">
                                                <label for="email">Adresse email</label>
                                                <input type="email" class="form-control" placeholder="Votre adresse email.." id="email" name="email" th:value="${cuser.email}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="prenom">Prénom</label>
                                                <input type="text" class="form-control" placeholder="Votre prénom.." id="prenom" name="prenom" th:value="${cuser.prenom}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="nom">Nom</label>
                                                <input type="text" class="form-control" placeholder="Votre nom.." id="nom" name="nom" th:value="${cuser.nom}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                    	<div class="col-md-4">
                                            <div class="form-group">
                                                <label for="ville">Ville</label>
                                                <input type="text" class="form-control" placeholder="Votre ville.." id="ville" name="ville" th:value="${cuser.ville}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="pays">Pays</label>
                                                <input type="text" class="form-control" placeholder="Votre pays.." id="pays" name="pays" th:value="${cuser.pays}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="codePostal">Code postal</label>
                                                <input type="number" class="form-control" placeholder="Votre code postal.." id="codePostal" name="codePostal" th:value="${cuser.codePostal}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <textarea rows="5" class="form-control" id="description" maxlength="120" placeholder="Une description qui sera visible sur votre page de profil.. (120 caractères maximum)" name="description" th:value="${cuser.description}"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Confirmer l'inscription</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar border-gray" th:src="@{/img/faces/face-3.jpg}" alt="Image de profil"/>

                                      <h4 class="title" th:text="${cuser.username}"></h4><br />
                                    </a>
                                </div>
                                <p class="description text-center" th:text="${cuser.description}"></p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a th:href="@{/}">
                                Aller à l'accueil
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="#">PVPChampions</a>
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script th:src="@{/js/jquery.3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script th:src="@{/js/chartist.min.js}"></script>

    <!--  Notifications Plugin    -->
    <script th:src="@{/js/bootstrap-notify.js}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script th:src="@{/js/light-bootstrap-dashboard.js?v=1.4.0}"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script th:src="@{/js/demo.js}"></script>

</html>
